@charset "UTF-8";
body {
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
    color: #EFF9F0;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1em;/*16px;*/
    margin-bottom:-10px;
}

p {
    color: #EFF9F0;
    font-size: 0.9em/*14px*/;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

header {
    background: center top rgba(255, 255, 255, 0.05);
    background-size: 100% 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}

#nav {
    float: right;
    z-index: 1;
    margin: 0;
}

#nav ul {
    margin: 0;
}

#nav ul li {
    position: relative;
    width: 120px;
    height: 50px;
    float: right;
    font-size: 1.0.9em;/*16px;*/
}

#nav ul li .menu {
    padding: 16px 0 10px 0;
    display: block;
    text-align: center;
    color: #EFF9F0;
}

#nav ul li .menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

@media screen and (max-width: 768px) {
    #nav ul li {
        color: blue;
        position: relative;
        width: 70px;
        height: 40px;
        float: right;
        font-size: 14px;
    }
    #nav ul li .menu {
        padding: 12px 4px 8px 0;
        display: block;
        text-align: center;
        color: #EFF9F0;
    }
}

.contents {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 35px 8%;
}

@media screen and (max-width: 768px) {
    .contents {
        width: auto;
    }
}

.contents a {
    color: #EFF9F0;
    border-bottom: 1px dashed #EFF9F0;
}

#works ul {
    width: 100%;
    margin-left: -40px;
}

#works li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

#works img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.details {
    padding: 18px;
}

#works h4 {
    color: #ffffff;
    font-size: 0.9em;/*14px;*/
    margin: 0;
}

#works p {
    color: #ffffff !important;
    font-size:0.75em;/* 12px;*/
    line-height: 18px;
}

#works .under {
    display: none;
}

@media screen and (max-width: 768px) {
    #works li {
        margin: 0 5px 5px 0;
    }
    #works img {
        display: block;
        width: 70px;
        height: 60px;
        border-radius: 5px;
        float: left;
        margin-right: 5px;
    }
    #works .under {
        display: inline;
        font-size: 0.8em;/*12px;*/
    }
    #pp-nav {
        display: none;
    }
    #works h4 {
        display: none;
    }
    #works .details {
        display: none;
    }
}

#footer {
    margin: 0;
    padding: 80px 0;
    text-align: center;
}